@tailwind base;
@tailwind components;
@tailwind utilities;

.rdg-cell,
.rdg-checkbox {
  border-color: rgb(207, 207, 207) !important;
  border-width: 1px;
}

.rdg-cell[role='columnheader'] {
  background-color: rgb(233, 233, 233);
}

.toolbar {
  height: auto !important;
}

.toolbar .toolbar-item:first-child {
  display: none;
}
.toolbar .toolbar-item:nth-child(2) {
  display: none;
}
.ml-65 {
  margin-left: 17rem; /* 272px */
}
